<div id="content" style="width:400px;">
  <div class="header">
    <h1 style="color:blue;font-size: 20px">
      <%=@location.sname%>
      <i class="fa fa-star" style="float:right;font-size: 26px;color:black"></i>
    </h1>
    <p style="color:blue"><%=@location.addr%></p>
  </div>
  <div class="infos_img">
    <div class="car_info" style="display: inline-block;">
      <p style="display:inline-block;font-size: 80px"><i class="fa fa-smile-o"></i></p>
      <p style="display:inline-block;font-size: 30px">25 <span style="font-size: 20px">/30台<span></p>
    </div>
    <div class="weather_info" style="display: inline-block;">
      <p style="display:inline-block;font-size: 80px"><i class="fa fa-tint"></i></p>
      <p style="display:inline-block;font-size: 30px">23°C</p>
    </div>
    <input type="text" id="range"/>
    <ul class="tab">
      <li><div class="mins">分鐘</div></li>
      <li><div class="hurs">小時</div></li>
    </ul>
  </div>
</div>

<script>
$("#range").ionRangeSlider({
      grid: true,
      min: 0,
      max: 100,
      from: 0,
      step: 5
      // prefix: "$"
  });

$('.mins').on('click',function(){
  var slider = $("#range").data("ionRangeSlider");
  slider.update({
    min: 0,
    max: 100,
    from: $("#range").data("from"),
    step: 5,
  });
});
$('.hurs').on('click',function(){
  var slider = $("#range").data("ionRangeSlider");
  slider.update({
    min: 0,
    max: 24,
    from: $("#range").data("from")/60,
    step: 1
  });
});


</script>
<style type="text/css">
/* Style the list */
ul.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the links inside the list items */
ul.tab li  {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 75px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
  
</style>