// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require ion.rangeSlider
//= require ion.rangeSlider.skinModern

#map{
	min-width: 100%;
	height: 100vh;
	position: relative;
}
@import "compass/css3";
@import "compass/reset";

//兩個圖案跟資訊
#place_info{
	display: none;
	background-color: #fff;
	min-width:100%;
	height: 30vh;
	position: absolute;
	bottom:0px;
	left: 0px;
	// display: none;
	padding: 15px;
	.place_name{
		color: #467C9C;
		padding: 5px;
		font-size: 30px;
	}
	.place_addr{
		color: #467C9C;
		padding: 5px;
		font-size: 20px;
	}
}

//sidebar
.sidebar{
  width: 150px;
  background-color: #000;
  position: fixed;
  top:30%;
  left:0;
  transition: left 0.7s;
  .tag{
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: red;
    width: 1em;
    padding: 0.5em;
    font-size: 25px;
    position: absolute;
    top:30%;
    right: -2em;
    border-radius: 0 10% 10% 0;
  }
  .links{
    a{
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 20px;
      overflow: hidden;
      background-color: #fff;
    }
    img{
      width: 100px; height: 100px;
    }
  }
}
.hide_bar{
  left: -150px;
}

//小筐下半部tab
ul.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  li {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 75px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
  }
}

// search box
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
body{
	background-color: #fa0;
}
